body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #FAF9F5;

}

.navbar-links {
    display: inline;
   
}

#navbar {
    display: flex;
    justify-content: space-between;
    color: #292929;
    padding: 15px 20px;
    
}

#navbar a {
    color: #292929;
    text-decoration: none;
}

.navbar-numbers a {
    margin-left: 23px;
    font-size: 2em;
    font-family: "Space Mono";
}

.navbar-links a {
    margin-left: 23px;
    font-weight: bold;
    font-size: em;
}

#navbar .logo {
font-weight: bold;
font-size: 1.2em;
}

#statement {
    margin: 190px 200px;
    color: #292929;
    font-size: 3em;
}

.project-title {
    text-align: center;
    margin: 700px 0px;
}

#projects .project-title p {
    font-family: "Space Mono";
    font-size: 1.5em;
    margin: 0;
}

#projects .project-title a {
    font-weight: bold;
    color: #292929;
    text-decoration: none;
    font-size: 4em;
}

footer {
    background-color: #FF6FA1;
    text-align: center;
}

footer a {
    color: #292929;
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}

footer .socials {
    padding-top: 150px;
    padding-bottom: 150px;
}

footer .back-to-top {
    padding-top: 150px;
    padding-bottom: 150px;
}




/* Project Pages */


.project-description {
    margin: 190px 200px;
    color: #292929;
}

.project-description h1 {
    font-size: 3em
}

.project-description h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
}

.project-description h2 {
    font-family: "Space Mono";
    font-size: 1.5em;
    margin: 0;
}